#sortable li {
    position: relative;
    display: inline-block;
    margin: 0.3em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: red;
    border: 1px solid black;
    border-radius: 0.3em;
 	box-shadow: 3px 3px 2px #888;
}

#sortable {
  	margin: 0;
    padding: 0;
    list-style-type: none;
}